In [75]:
import json,os
import numpy as np
import pandas as pd

### Cargo datos

In [76]:
ligue2team2rank = json.load( open("../league2team2rank.json", "r") )

In [77]:
matches = pd.read_csv("../matches.csv")
matches.head(2)

,match,home,away,winner,score_home,score_away,label,liga
0,2500089,1646,1659,1659,1,2,"Burnley - AFC Bournemouth, 1 - 2",England
1,2500090,1628,1627,1628,2,0,"Crystal Palace - West Bromwich Albion, 2 - 0",England

In [78]:
metrics = pd.read_csv("metricas_hasta_Fecha3.csv")
metrics.head(2)

,match,team1,direct_play,counterattack,T_maintenance,T_build_up,T_zona_media,flow_rate,crossing,pressure_point,pressure_loss,shots,liga
0,2499719,1609,1.046492,0.137967,0.008011,1.641360,0.404629,2.365172,0.475739,0.553544,-0.999813,2.012367,England
1,2499719,1631,-1.615181,-1.387848,-1.442053,0.599849,-1.344791,-0.581150,-0.981960,-1.274967,-0.617518,-2.056307,England

### Armo redes

Primero cruzo los datos por match

In [79]:
df0 = pd.merge(metrics, matches[['match', 'home', 'away', 'winner', 'score_home','score_away']], on='match', how='left')

df0.head(2)

,match,team1,direct_play,counterattack,T_maintenance,T_build_up,T_zona_media,flow_rate,crossing,pressure_point,pressure_loss,shots,liga,home,away,winner,score_home,score_away
0,2499719,1609,1.046492,0.137967,0.008011,1.641360,0.404629,2.365172,0.475739,0.553544,-0.999813,2.012367,England,1609,1631,1609,4,3
1,2499719,1631,-1.615181,-1.387848,-1.442053,0.599849,-1.344791,-0.581150,-0.981960,-1.274967,-0.617518,-2.056307,England,1609,1631,1609,4,3

In [ ]:
metricas = ['direct_play','counterattack','T_maintenance','T_build_up',
            'T_zona_media','flow_rate','crossing','pressure_point','pressure_loss',	
            'shots']

ligas = ['England','France','Germany','Italy','Spain']


for liga in ligas:

    print(liga)

    carpeta = f'redes_hasta_fecha3/{liga}'
    if not os.path.exists(carpeta):
        os.makedirs(carpeta)


    team2rank = ligue2team2rank[liga]
    df = df0[ df0['liga']==liga ]


    for metrica in metricas:

        print(f"\t{metrica}")

        d={}
        d2={}

        def f(row):

            # tomo datos
            team1 = str(row.team1)
            nodo1 = team2rank[team1]

            if row.team1==row.home:
                team2=str(row.away)
            else:
                team2=str(row.home)

            nodo2 = team2rank[team2]

            w = row[metrica] 

            try:
                d[(nodo1,nodo2)]+=w
            except:
                d[(nodo1,nodo2)]=w


            try:
                d2[(team1,team2)]+=w
            except:
                d2[(team1,team2)]=w
            

        df.agg( lambda x: f(x), axis=1 )


        # armo red
        Nmax = max(elemento for tupla in d for elemento in tupla)
        red = []

        for i in range(1,Nmax):

            for j in range(i+1, Nmax+1):
                
                try:
                    fij = d[(j,i)] - d[(i,j)] 

                    red.append( [i,j, fij] )
                except:
                    None



        #guardo data
        arx_out = f'{carpeta}/red_{metrica}.dat'

        np.savetxt(
            arx_out,               
            red,               
            fmt='%d,%d,%.4e',         
            delimiter=',', 
            header='n1,n2,fij',
            comments=''
        )

England
	direct_play
	counterattack
	T_maintenance
	T_build_up
	T_zona_media
	flow_rate
	crossing
	pressure_point
	pressure_loss
	shots
France
	direct_play
	counterattack
	T_maintenance
	T_build_up
	T_zona_media
	flow_rate
	crossing
	pressure_point
	pressure_loss
	shots
Germany
	direct_play
	counterattack
	T_maintenance
	T_build_up
	T_zona_media
	flow_rate
	crossing
	pressure_point
	pressure_loss
	shots
Italy
	direct_play
	counterattack
	T_maintenance
	T_build_up
	T_zona_media
	flow_rate
	crossing
	pressure_point
	pressure_loss
	shots
Spain
	direct_play
	counterattack
	T_maintenance
	T_build_up
	T_zona_media
	flow_rate
	crossing
	pressure_point
	pressure_loss
	shots

In [81]:
d2

{('682', '695'): -0.1150563424940563,
 ('695', '682'): 0.3932785855686542,
 ('687', '692'): -2.0563069528271645,
 ('692', '687'): -2.0563069528271645,
 ('678', '698'): 0.3932785855686542,
 ('698', '678'): 0.787573788388354,
 ('679', '756'): -2.0563069528271645,
 ('756', '679'): -0.1150563424940563,
 ('680', '691'): -2.0563069528271645,
 ('691', '680'): 0.3932785855686542,
 ('683', '701'): -0.1150563424940563,
 ('701', '683'): -0.831514183629255,
 ('676', '684'): 0.3932785855686542,
 ('684', '676'): -2.0563069528271645,
 ('675', '677'): -0.1150563424940563,
 ('677', '675'): 0.3932785855686542,
 ('674', '714'): 0.3932785855686542,
 ('714', '674'): -0.831514183629255,
 ('696', '712'): 0.787573788388354,
 ('712', '696'): -0.1150563424940563,
 ('682', '687'): -0.831514183629255,
 ('687', '682'): -0.831514183629255,
 ('676', '696'): 0.3932785855686542,
 ('696', '676'): -0.831514183629255,
 ('691', '712'): -0.831514183629255,
 ('712', '691'): 0.787573788388354,
 ('677', '695'): 0.3932785855686542,
 ('695', '677'): 1.8261942678390524,
 ('679', '714'): -0.831514183629255,
 ('714', '679'): 0.3932785855686542,
 ('683', '756'): -2.0563069528271645,
 ('756', '683'): -0.1150563424940563,
 ('674', '675'): 0.3932785855686542,
 ('675', '674'): 2.180779879214417,
 ('680', '698'): 0.3932785855686542,
 ('698', '680'): 0.787573788388354,
 ('684', '692'): 0.3932785855686542,
 ('692', '684'): -0.1150563424940563,
 ('678', '701'): -0.831514183629255,
 ('701', '678'): 1.6180713547665633,
 ('682', '684'): 0.3932785855686542,
 ('684', '682'): -0.831514183629255,
 ('677', '687'): -0.831514183629255,
 ('687', '677'): 0.3932785855686542,
 ('674', '679'): 1.1097364267038532,
 ('679', '674'): 0.787573788388354,
 ('675', '695'): 0.787573788388354,
 ('695', '675'): 0.3932785855686542,
 ('698', '712'): -0.831514183629255,
 ('712', '698'): -0.1150563424940563,
 ('692', '696'): 1.1097364267038532,
 ('696', '692'): -2.0563069528271645,
 ('678', '756'): -2.0563069528271645,
 ('756', '678'): 0.3932785855686542,
 ('680', '701'): 1.3821210562811492,
 ('701', '680'): -0.831514183629255,
 ('683', '714'): -0.831514183629255,
 ('714', '683'): 0.787573788388354,
 ('676', '691'): 1.1097364267038532,
 ('691', '676'): 0.787573788388354}

In [82]:
0.39327-(-0.1150)

0.50827

In [83]:
-0.1150+0.39327

0.27827